@model Guest
@{
    ViewData["Title"] = "Delete Guest";
}
<h2>
    Delete Guest?
</h2>
<div class="d-flex flex-row">
    <form asp-controller="Guests" asp-action="Delete" method="post">
        <input hidden asp-for="Id" />

        <div class="mb-3">
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    </form>
    <form asp-controller="Guests" asp-action="Index" method="post">
        <input hidden asp-for="Id" />

        <div class="mb-3">
            <input type="submit" class="btn " value="Cancel" />
        </div>
    </form>
</div>