@model List<Guest>

<table class="table table-bordered	table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			@foreach (var Guest in Model)
			{
				<tr>
					<td>@Guest?.FirstName</td>
					<td>@Guest?.LastName</td>
					<td>@Guest?.PersonalNumber</td>
					<td>@Guest?.PhoneNumber</td>
					<td>
						<a class="btn btn-danger" asp-controller="Guests" asp-action="DeleteConf" asp-route-id="@Guest?.Id">Delete</a>
						<a class="btn btn-info" asp-controller="Guests" asp-action="Update" asp-route-id="@Guest?.Id">Update</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="5">No Guests available.</td>
			</tr>
		}
	</tbody>
</table>
<div class="row">
	<a class="btn btn-success w-25 btn btn-primary" asp-controller="Guests" asp-action="Create">Add New Guest</a>
</div>