@model List<Manager>

<table class="table table-bordered	table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Second Name</th>
			<th>Hotel ID</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			@foreach (var manager in Model)
			{
				<tr>
					<td>@manager?.FirstName</td>
					<td>@manager?.SecondName</td>
					<td>@manager?.HotelId</td>
					<td>
						<a class="btn btn-danger" asp-controller="Managers" asp-action="DeleteConf" asp-route-id="@manager?.Id">Delete</a>
						<a class="btn btn-info" asp-controller="Managers" asp-action="Update" asp-route-id="@manager?.Id">Update</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="3">No Managers available.</td>
			</tr>
		}

	</tbody>
</table>
<div class="row">
	<a class="btn btn-success w-25 btn btn-primary" asp-controller="Managers" asp-action="Create">Add New Manager</a>
</div>