@model Hotel
@{
    ViewData["Title"] = "Add New Hotel";
}
<form asp-controller="Hotels" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="HotelName">Name</label>
        <input class="form-control" asp-for="HotelName" required/>
    </div>
    <div class="mb-3">
        <label asp-for="Rating">Rating</label>
        <input class="form-control" asp-for="Rating" required />
    </div>
    <div class="mb-3">
        <label asp-for="Country">Country</label>
        <input class="form-control" asp-for="Country" required />
    </div>
    <div class="mb-3">
        <label asp-for="City">City</label>
        <input class="form-control" asp-for="City" required />
    </div>
    <div class="mb-3">
        <label asp-for="PhysicalAddress">Address</label>
        <input class="form-control" asp-for="PhysicalAddress" required />
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="Add" />
    </div>
</form>
<form asp-controller="Hotels" asp-action="Index" method="post">
    <input hidden asp-for="Id" />

    <div class="mb-3">
        <input type="submit" class="btn btn-warning" value="Cancel" />
    </div>
</form>