@model List<Hotel>

<table class="table table-bordered text-light">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rating</th>
			<th>Country</th>
			<th>City</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null){
			@foreach (var hotel in Model)
			{
				<tr>
					<td>@hotel?.HotelName</td>
					<td>@hotel?.Rating</td>
					<td>@hotel?.Country</td>
					<td>@hotel?.City</td>
					<td>@hotel?.PhysicalAddress</td>
					<td>
						<a class="btn btn-danger" asp-controller="Hotels" asp-action="DeleteConf" asp-route-id="@hotel?.Id">Delete</a>
						<a class="btn btn-info" asp-controller="Hotels" asp-action="Update" asp-route-id="@hotel?.Id">Update</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="5">No hotels available.</td>
			</tr>
		}
	</tbody>
</table>
<div class="row">
	<a class="btn btn-success w-25 btn btn-primary" asp-controller="Hotels" asp-action="Create">Add New Hotel</a>
</div>