@model List<Hotel>

<table class="table table-bordered	table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rating</th>
			<th>Country</th>
			<th>City</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null){
			@foreach (var hotel in Model)
			{
				<tr>
					<td>@hotel?.HotelName</td>
					<td>@hotel?.Rating</td>
					<td>@hotel?.Country</td>
					<td>@hotel?.City</td>
					<td>@hotel?.PhysicalAddress</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="5">No hotels available.</td>
			</tr>
		}

	</tbody>
</table>