@model GuestReservation
@{
    ViewData["Title"] = "Add New Reservation";
}
<form asp-controller="GuestReservations" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="GuestId">Guest</label>
        <select asp-for="GuestId" asp-items="ViewBag.GuestId" class="form-control"></select>
    </div>
    <div class="mb-3">
        <label asp-for="ReservationId">Reservation</label>
        <input class="form-control" asp-for="ReservationId" required />
    </div>    
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="Add" />
    </div>
</form>
<form asp-controller="GuestReservations" asp-action="Index" method="post">
    <input hidden asp-for="Id" />

    <div class="mb-3">
        <input type="submit" class="btn " value="Cancel" />
    </div>
</form>