@model List<GuestReservation>

<table class="table table-bordered	table-striped">
	<thead>
		<tr>
			<th>Guest</th>
			<th>Reservation</th>			
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			@foreach (var GuestReservation in Model)
			{
				<tr>
					<td>@GuestReservation?.Guest.FirstName @GuestReservation?.Guest.LastName</td>
					<td>Check In: @GuestReservation?.Reservation.CheckInDate-Check out: @GuestReservation?.Reservation.CheckOutDate</td>					
					<td>
						<a class="btn btn-danger" asp-controller="GuestReservations" asp-action="DeleteConf" asp-route-id="@GuestReservation?.Id">Delete</a>
						<a class="btn btn-info" asp-controller="GuestReservations" asp-action="Update" asp-route-id="@GuestReservation?.Id">Update</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="5">No Reservations available.</td>
			</tr>
		}
	</tbody>
</table>
<div class="row">
	<a class="btn btn-success w-25 btn btn-primary" asp-controller="GuestReservations" asp-action="Create">Add New Reservation</a>
</div>