@model List<Room>

<table class="table table-bordered	text-light">
	<thead>
		<tr>
			<th>Name</th>
			<th>Availability</th>
			<th>Hotel ID</th>
			<th>Price Per Day (GEL)</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			@foreach (var room in Model)
			{
				<tr>
					<td>@room?.RoomName</td>
					<td>@(room?.IsBooked ?? true ? "Not Avaliable" : "Avaliable")</td>
					<td>@room?.Hotel.HotelName</td>
					<td>@room?.PriceGel</td>
					<td>
						<a class="btn btn-danger" asp-controller="Rooms" asp-action="DeleteConf" asp-route-id="@room?.Id">Delete</a>
						<a class="btn btn-info" asp-controller="Rooms" asp-action="Update" asp-route-id="@room?.Id">Update</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="4">No Rooms available.</td>
			</tr>
		}

	</tbody>
</table>
<div class="row">
	<a class="btn btn-success w-25 btn btn-primary" asp-controller="Rooms" asp-action="Create">Add New Room</a>
</div>